/.DS_Store
/sample.csv
/sample2.csv
/sample3.csv
/sample50k.csv
.stack-work/stack.sqlite3
.stack-work/stack.sqlite3.pantry-write-lock
.stack-work/dist/aarch64-osx/ghc-9.6.6/build-lock
.stack-work/dist/aarch64-osx/ghc-9.6.6/setup-config
.stack-work/dist/aarch64-osx/ghc-9.6.6/stack-cabal-mod
.stack-work/dist/aarch64-osx/ghc-9.6.6/stack-project-root
.stack-work/dist/aarch64-osx/ghc-9.6.6/stack-setup-config-mod
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests/distribution-tests
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests/autogen/cabal_macros.h
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests/autogen/PackageInfo_distribution_tests.hs
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests/autogen/Paths_distribution_tests.hs
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests/distribution-tests-tmp/Main.hi
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests/distribution-tests-tmp/Main.o
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests-exe/distribution-tests-exe
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests-exe/autogen/cabal_macros.h
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests-exe/autogen/PackageInfo_distribution_tests.hs
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests-exe/autogen/Paths_distribution_tests.hs
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests-exe/distribution-tests-exe-tmp/Main.hi
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests-exe/distribution-tests-exe-tmp/Main.o
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests-exe/distribution-tests-exe-tmp/Normal.hi
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests-exe/distribution-tests-exe-tmp/Normal.o
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests-exe/distribution-tests-exe-tmp/Paths_distribution_tests.hi
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests-exe/distribution-tests-exe-tmp/Paths_distribution_tests.o
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests-exe/distribution-tests-exe-tmp/Sample.hi
.stack-work/dist/aarch64-osx/ghc-9.6.6/build/distribution-tests-exe/distribution-tests-exe-tmp/Sample.o
.stack-work/dist/aarch64-osx/ghc-9.6.6/package.conf.inplace/package.cache
.stack-work/dist/aarch64-osx/ghc-9.6.6/package.conf.inplace/package.cache.lock
.stack-work/dist/aarch64-osx/ghc-9.6.6/stack-build-caches/78c39372746cbf1e6183cc901d04d6c073991eabaa360da00a6fedf64c77d22c/exe-distribution-tests
.stack-work/dist/aarch64-osx/ghc-9.6.6/stack-build-caches/78c39372746cbf1e6183cc901d04d6c073991eabaa360da00a6fedf64c77d22c/exe-distribution-tests-exe
.stack-work/ghci/187bb9ff/cabal_macros.h
.stack-work/install/aarch64-osx/78c39372746cbf1e6183cc901d04d6c073991eabaa360da00a6fedf64c77d22c/9.6.6/bin/distribution-tests
.stack-work/install/aarch64-osx/78c39372746cbf1e6183cc901d04d6c073991eabaa360da00a6fedf64c77d22c/9.6.6/bin/distribution-tests-exe
.stack-work/install/aarch64-osx/78c39372746cbf1e6183cc901d04d6c073991eabaa360da00a6fedf64c77d22c/9.6.6/doc/distribution-tests-0.1.0.0/LICENSE
.stack-work/install/aarch64-osx/78c39372746cbf1e6183cc901d04d6c073991eabaa360da00a6fedf64c77d22c/9.6.6/installed-packages/distribution-tests-0.1.0.0
.stack-work/install/aarch64-osx/78c39372746cbf1e6183cc901d04d6c073991eabaa360da00a6fedf64c77d22c/9.6.6/pkgdb/package.cache
.stack-work/install/aarch64-osx/78c39372746cbf1e6183cc901d04d6c073991eabaa360da00a6fedf64c77d22c/9.6.6/pkgdb/package.cache.lock
